body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    .myclass{
        background-color:antiquewhite ;
      }
}
h1{
    text-align: center;
}

.creamcolor{
    background-color: rgb(252, 233, 209);
}
.babypink{
    background-color: rgb(220, 166, 175);
}
.skyblue{
    background-color: rgb(91, 167, 198);
}
.orange{
    background-color: rgb(214, 168, 82);
}